/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  text-align: center;
}

/*this is an id*/
/*#column-test {
  background-color: yellow;*/
  /*column-count: 6;*/
  /*column-width: 150px;*/
  /*columns: 6 200px;*/
/*}*/

/*this is a class
.column-test */
.grid {
  /*background-color: red;*/
}

.grid-pad {
  padding: 20px 0 20px 20px;
  /*background-color: blue;*/
}

.grid-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

[class*='col-'] {
  float: left;
  padding-right: 20px;
}

[class*='col-']:last-of-type {
  padding-right: 0;
}

.col-2-3 {
  width: 66.66%;
}

.col-1-3 {
  width: 33.33%;
}

.col-1-10 {
  width: 10%;
}

.col-8-10 {
  width: 80%;
}

.grid:after {
  content: "";
  display: table;
  clear: both;
}
